body {background-color:black;
    text-align: center;}
    /* Primary title styling */
    h1 {
        color: rgb(12, 203, 241);
        font-family: cursive;
        text-align: center;
        font-size: 70px;
        font-variant: small-caps;
        outline-style: double;
        outline-width: 10px;
        border-radius: 80px 10px;
    }
    /* generic text styling */
    .formText{
        color:rgb(12, 203, 241);
        font-family: cursive;
        font-size: 30px;
    
    }
    /* for each major section of the site */
    .sectionHead{
        font-family: fantasy;
        font-weight: bold;
        font-variant: small-caps;
        color:rgb(246, 103, 103);
        font-size: 60px;
        text-shadow: 0px 0px 15px black;
        line-height: 50px;
    }
    /* for section headers */
    .sectionHeadMini{
        font-family: fantasy;
        font-weight: bold;
        font-variant: small-caps;
        color:rgb(246, 103, 103);
        font-size: 40px;
        text-shadow: 0px 0px 15px black;
        line-height: 1px;
    }
    /* Styles the box the activity selected loads into */
    .actCard {
        text-align: center;
        font-family: Helvetica;
        font-weight: bolder;
        font-size: 20px;
        color: rgb(246, 103, 103);
        border: 5px ridge rgb(208, 139, 11);
        padding: 1rem;
        width: 15rem;
        height: 20rem;
        display: inline-grid;
        margin: 1rem .75rem;
        box-shadow: 10px 10px 10px rgb(174, 116, 8)
      }
    /* the disclaimer note */
    #activityNote{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
        width: 350px;
        float: left;
        margin-right: -500px;
       flex-wrap: wrap;
      color: #FFF8E7;
    }
    
    /* The 'select a drink' cards after ingredient submit */
    .drinkCard {
        text-align: center;
        font-family: Georgia;
        font-weight: bold;
        border: 5px inset rgb(27, 97, 218);
        border-radius: 50px;
        padding: 1rem;
        width: 15rem;
        height: 20rem;
        display: inline-grid;
        margin: 1rem .75rem;
        box-shadow: 10px 10px 10px grey;
        color:rgb(246, 103, 103);
      }
    /* ensure the image is contained */
     .container {
        object-fit: fill;
        border-radius: 25px;
        width: 100%;
        height: 100%;
        display: inline-block;
     }

     #footer{
         color: #FFF8E7;
     }